<!DOCTYPE html>
<html>
<head>
  <title>Timail</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
 
</head>
<body>
	

	<div class="header">
		<!-- <p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p> -->
	</div>

	<div class="side_bar">
		<ul class="nav nav-list">
			<li class="nav-header">Matérias</li>
			<% @materias.each do |m| %>
		  		<li><a href="#"><%= m %></a></li>
		  	<% end %>
		</ul>
	</div>	

	<div style="float: left">
		<%= yield %>
	</div>



</body>
</html>
