<!DOCTYPE html>
<html>
<head>
  <title>Timail</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>

	<div class="header">
		<p>lalala</p>
	</div>


	<ul class="nav nav-list">
	  <li><a href="#">Home</a></li>
	  <li><a href="#">Library</a></li>
	</ul>

<%= yield %>

</body>
</html>
